@CHARSET "ISO-8859-1";
body {
    border:0pt;
	margin: 5px;
	font-size: 100%;
}   		
.outerbox {
	height: 730px;  /* se corresponde a un alto de 768 */
	padding: 10px; 
}
.headerbox {
	position:relative;
	height: 10%;
	padding-left: 25px;
}
.headertext {
	font-size:2.5rem;
}
.contentbox {
	padding-top:40px;
	overflow:visible; 
}
.logo {
/*    background-size: contain; 
    position: absolute;
	left: 80%;
    top: 0;

*/
    background-repeat: no-repeat;
    background-position: center center;
	height: 80px;
    width: 170px;	
    background-color:#eee;  
    border-radius:10px; 
    float: right;
}

table.llamadas thead th {
	text-align: left;
	font-size:3.8rem;
	padding: 0px;
}
table.llamadas thead .hora {
	padding-left: 3%;
}
table.llamadas thead .numero {
	text-align: right;
}
table.llamadas thead .datos {
	padding-left: 5%;
}
table.llamadas thead .puesto {
	text-align:center;
}
table.llamadas tbody tr td {
	text-align: left;
	font-size:100px;
	/*line-height:1rem;*/
}
table.llamadas tbody .hora {
	width: 30%;
	padding-left: 3%;
	padding-right: 5%;
	font-size: 5.5rem;
}
table.llamadas tbody .numero {
	width:0%;
	padding: 0px;
	font-size:9.4rem;
	text-align: right;
}
table.llamadas tbody .datos {
	width: 100%;
	padding-left: 5%;
}
table.llamadas tbody .puesto {
	width: 15%;
	text-align: center;
	font-size:9.4rem;
}

.etiqueta {
	text-align: left;
	border:none;
	font-size:8rem;
	font-weight: bold;
	width: 100%; 
}